.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.price {
  font-size: 16px;
  color: #888;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.control-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
}

